@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
  position: absolute;
  top: 50%;
}

 .swiper-pagination{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 130px;
}

.swiper-pagination-bullet{
  width: 16px !important;
  height: 16px !important;
  color: #6f6f6f;
}

.swiper-button-next, .swiper-button-prev{
  transform: scale(0.75);
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  height: 100%;
}

/* Style your items */
.my-masonry-grid_column > div { 
  height: 20%;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #393939;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}

.pagination li{
  cursor: pointer;
  margin: 0 20px;
}

.previous {
  margin-right: 30px;
}

.next {
  margin-left: 25px;
}

.pagination__link--active{
  margin: 0 20px;
}

.pagination__link--disabled{
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(111, 111, 111);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #393939;
}